.BubbleChamber {
  position: relative;
}

.BubbleChamber .player-bubble {
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BubbleChamber .player-bubble .name {
  display: block;
  font-family: Arial;
  font-weight: normal;
  color: white;
}