.BubbleChamber {
  position: relative;
}

.BubbleChamber .player-bubble {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.BubbleChamber .player-bubble .name {
  display: block;
}