
.Game-wrapper {
  display: inline-block;
  padding: 0 20px;
  overflow-y: hidden;
}

.Game {
  position: relative;
  width: 1000px;
  height: 500px;
  overflow: visible;
  border: 12px solid white;
  border-width: 12px 0 12px 0;
}

.Game .paddle {
  background: white;
  position: absolute;
  transition: top 200ms;
  width: 12px;
}

.Game .ball {
  box-sizing: content-box;
  background: white;
  border: 6px solid black;
  position: absolute;
  transition: top 200ms, left 200ms;
}

.Game .midpoint {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
  border-left: 12px dashed white;
  height: 100%;
  width: 1px;
}

.Game .score {
  position: absolute;
  top: 10px;
  font-size: 50px;
  color: white;
  font-family: Bungee;
}
.Game .score-left {
  left: 40%;
}
.Game .score-right {
  right: 40%;
}

