.teamTable {
  position: relative;
}

.teamTable .tableWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamTable .playerTable {
  display: block;
  font-family: Arial;
  font-weight: normal;
  color: white;
}
