.TeamTable {
  position: relative;
  color: white;
}

.TeamTable .tableWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.TeamTable ul {
  padding: 0;
  list-style: none;
  min-width: 300px;
}

.TeamTable li span {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
