div {
  box-sizing: border-box;
}
.button-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  background: white;
  text-align: center;
}

.pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: magenta;
}

.spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  transform: rotate(360deg)
}

.spinner.animate {
  animation: rota 5s linear 1;
  animation-fill-mode: forwards;
}

.filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 1;
}

.filler.animate {
  animation: opa 5s steps(1, end) 1 reverse;
  animation-fill-mode: forwards;
}

.mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 300;
  opacity: 0;
  background: inherit;
}

.mask.animate {
  animation: opa 5s steps(1, end) 1;
  animation-fill-mode: forwards;
}

@keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}